.navbar{
    background-color: #ffffff;
    padding-bottom: 15px;
}

.navbar-brand-centered {
    top: 5%;
    position: absolute;
    left: 49%;
    display: block;
    width: 160px;
    height: auto;
    text-align: center;
    background-color: transparent;
}

.navbar>.container .navbar-brand-centered, 
.navbar>.container-fluid .navbar-brand-centered {
    margin-left: -65px;
}
.navbar-nav li{
    margin-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
}
.navbar h4{
    color: #db9600;
    font-family: "Montserrat";
    text-align: center;
    font-weight: 600;
    font-size: 1.2em;
}

/*This is for the sticky navbar*/
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}


/*Footer*/
#footer{
	margin-top: 10%;
	overflow: hidden;
	background-color: #db9600;
}

#lista{
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

#lista h4{
	color: #ffffff;
	font-family: "Montserrat";
	font-weight: bold;
	display: block;
    font-size: 1.5em;
}

#footer .container{
	width: 100%;
}

#icono{
    display: inline-block;
    min-width: 40%;
    max-width: 60%;
    margin-left: 10%;
    margin-right: 10%;
}

#icono img{
    margin-top: 30px;
}

#iconos{
    margin-top: 5%;
    margin-bottom: 5%;
}

#iconos li{
    display:block;
}

#iconos img{
    margin: 5px;
    max-width: 50px;
}


@media (max-width: 767px){
    .navbar-brand-centered {
        top: 0;
        width: auto;
        height: 50px;
        left: 50%;
    }
    
    .navbar>.container .navbar-brand-centered, 
    .navbar>.container-fluid .navbar-brand-centered {
        margin-top: -16px;
        margin-left: -65px;
    }
    
    .navbar h4{
        color: #db9600;
        font-family: "Montserrat";
        text-align: center;
        font-weight: 600;
        font-size: 1em;
    }
    
    .navbar{
        overflow: hidden;
        background-color: white;
    }
    
    .navbar-nav li{
        margin-top: 0px;

    }
	.nav a {
		text-decoration: none;
		font-family: "Montserrat";
		text-align: center;
	}

	#footer h1{
		text-align: center;
	}
    
    
    #lista{
        margin-top: 0;
        padding: 2px 0px;
        text-align: center;
        font-size: 0.75em;
    }
	
    #icono img{
        max-width: 100px;
        margin-left: auto;
        margin-right: auto;
    }
    
    #icono{
        display: grid;
        max-width: 25%;
        margin-left: auto;
        margin-right: auto;
    }
    
    #iconos{
        text-align: center;
    }
    
    #iconos li{
        display: inline-block;
    }
    
    #iconos img{
        max-width: 50px;
    }

    
}