/*Navigation Menu*/
.navbar-default{
    display: block;
}
/*
.filler{
    flex-grow: 2;
}
*/
.navbar-nav > li {
	float: none;
	vertical-align: middle;
}
#site-logo {
	position: relative;
	vertical-align: middle;
	bottom: -18px;
}
#site-logo a {
    margin-left: auto;
    margin-right: auto;
	margin-top: -35px;
}
li {
	list-style-type: none;
}
.nav.navbar-nav{
	display: inline-flex;
	justify-content: center;
	flex-wrap: wrap;
}
.nav {
	text-align: center;
}
.hidden-xs .img-responsive{
    margin-left: auto;
    margin-right: auto;
}

.nav li {
	width: 20%;
	height: 50px;
}
.nav a {
	color: #000000;
	text-decoration: none;
	font-family: "Roboto", "regular";
	font-size: 12px;
}


/*Footer*/
#footer{
	margin-top: 5%;
	overflow: hidden;
	background-color: #db9600;
}
#lista{
    margin-top: 3%;
}
#lista h4{
	color: #000000;
	font-family: "Roboto", "regular";
	font-weight: bold;
	display: block;
}
#footer .container{
	width: 100%;
	padding-bottom: 40px;
}
/*
#footer h1{
	text-align: center;
	color: #fff;
	font-family: "Montserrat", "semibold";
	font-weight: bold;
	font-size:3em;
}
*/
#icono img{
    margin-top: 30px;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}
#iconos img{
	width: 75%;
}
#iconos li{
    margin-top: 10%;
    margin-bottom: 10%;
	width: 25%;
}
#iconos li a {
	float: left;
	text-align: center;
}


@media (max-width: 767px){
    .navbar-nav li a {
		line-height: 30px;
	}
	.nav li{
		width: 100%;
	}
	.nav a {
		color: #000000;
		background-color: #db9600;
		text-decoration: none;
		font-family: "Roboto", "regular";
		text-align: center;
	}

	#footer h1{
		text-align: center;
	}
    
    #lista{
        margin-top: 5%;
        padding: 2px 0;
        text-align: center;
    }
    
	#iconos{
		margin: 0;
		padding: 0;
		background-color: #db9600;
	}
	#iconos li{
        padding: 0px;
        margin-top: 3%;
        margin-bottom: 1%;
    }
    
    #icono img{
        width: 10%;
        margin-left: auto;
        margin-right: auto;
    }
    #marcas{
        text-align: center;
        margin-top: 0;
    }
        #marcas img{
        max-width: 30%;
    }
}